.header{
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: white;
    height: 50px;
    align-items: center;
}
.logo{
    width: 160px;
    height: 40px;
    margin: 5px 20px;
}
.logo img{
    vertical-align: top;
}
#menu_control{
    display: none;
}
.hb{
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
}
.hb::before{
    content: '';
    position: absolute;
    height: 2px;
    left: 2px;
    width: 36px;
    background-color: black;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 8px 0px black,
    0px -8px 0px black;
}
.main-nav{
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    background-color: #282923;
    top: 50px;
    left: 100%;
    transition: .5s;
}
.main-nav .li a{
    
    display: block;
    text-decoration: none;
    color: lightgreen;
    padding: 27px 30px;
    border-bottom: 1px solid lightgreen;
}
#menu_control:checked + .header .main-nav{
    left: 0;
}
.main-nav .btn a{
    display: block;
    text-decoration: none;
    color: lightgreen;
    border-radius: 30px;

}
.main-nav .btn{
    text-align: center;
    font-size: 30px;
    padding: 59px 0;
}


.main-nav .btn .freetry{
    width: 60%;
    background-color: blue;
    color: white;
    margin: auto;
    margin-bottom: 30px;
    line-height: 1.5;
}
.main-nav .btn .login{
    width: 60%;
    background-color: #eee;
    border: 1px solid blue;
    color: black;
    margin: auto;
    line-height: 1.5;
}

.li-bot{
    width: 100%;
    height: 70px;
    display: flex;
    text-align: center;
    background-color: #00142d;
    color: white;
}
.li-bot .ot{
    width: 50%;
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: .5px solid gray;


}
.li-bot .it{
    width: 50%;
    text-decoration: none;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.homegroup{
    background-color: #00142d;
    position: relative;
    top: 40px;
    padding-bottom: 40px;
    z-index: 1;
}
.txt{
    color: white;
    margin: 30px;

}
.txt h1{
    font-size: 25px;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
}
.txt h1 p{
    color: orange;
}
.txt h2{
    margin: auto;
    width: 100%;
    line-height: 1.6;
    padding: 20px 0;
}
.homegroup .pic{
    margin: auto;
    width: 100%;
    padding-top: 30px;
}
input{
    width: 100%;
    color: white;
    border: none;
    background-color:#00142d;
    border-bottom-style:solid;
    font-size: 18px;
}
.freetry_btn{
    text-align: center;
    line-height: 2.6;
    width: 85%;
    height: 40px;
    border-radius: 30px;
    background-color: blue;
    color: white;
    margin: 30px;
}
.center_topic{
    padding-top: 50px;
    
    margin: auto;
    width: 90%;
}
.center_topic img{
    padding-top: 20px;
}
.single_platform{
    text-align: center;
    font-size: 25px;
    padding: 20px 0px;
    line-height: 1.5;
    font-weight: 600;
}
.center_article{
    text-align: center;
    line-height: 1.6;
    font-size: 17px;
}
.head{
    padding: 40px 0px;
}
.head h2{
    font-size: 25px;
    padding: 20px 0px;
    line-height: 1.5;
    font-weight: 600;
}
.article{
    line-height: 1.6;
    font-size: 17px;

}
.list{
    padding: 20px 0;
    line-height: 2;
}
.head a{
    text-decoration: none;
    color: blue;
}
.home-features{
    background-color: #f4f5f8;
    border: 1px solid #ddd;
    text-align: center;
}
.home-features h2{
    font-size: 30px;
    font-weight: 600;
    padding: 60px 0;
}
.home-features .features-list{
    display: flex;
    flex-wrap: wrap;
    
}
.home-features .features-list li{
    box-sizing: border-box;
    flex-direction: column;
    padding: 20px 10px;
    width: 50%;
}
.img-wrap{
    background-color: white;
    border: 1px solid #ddd;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrap img{
    width: 60%;
}
li h3{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    padding: 10px 0;
}
li p{
    line-height: 1.4;
    letter-spacing: 3px;
    text-align: left;
}
.home-showcase{
    margin: auto;
    width: 90%;
}
.home-showcase h4{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0;
}
.home-showcase span{
    color: blue;
}
.home-showcase img{
    margin: auto;
    display: flex;

}
.home-showcase a{
    display: block;
    padding: 25px 15px;
    font-size: 16px;
}
.home-showcase p{
    line-height: 1.4;
    letter-spacing: 4px;
    padding: 10px 15px;

}
.home-showcase p1{
    display: block;
    font-size: 18px;
    padding: 10px 15px;
    margin-bottom: 60px;
}
.footer-map{
    background-color: #172b4d;
    padding: 80px 0;
    padding-bottom: 0px;
}
.footer-content{
    color: white;
    font-size: 40px;
    line-height: 1.6;
    padding: 0 20px;
}
.footer-content span{
    background-color: blue;
    height: 0;
    font-weight: 600;
}
.days-btn{
    margin: 50px 0px;
    display: block;
    font-size: 20px;
    height: 40px;
    text-align: center;
    line-height: 2;
    border-radius: 50px;
    background-color: rgb(34, 34, 224);
    width: 95%;
}
.bot{
    background-color: #00142d;
}
.bot-txt{
    margin: auto;
    width: 90%;
    padding: 40px 0px;
}
.bot h4{
    display: block;
    color: white;
    line-height: 4;
}
.bot h4::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #172B4D;
    display: block;

}
.bot .bot-txt::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #172B4D;
    display: block;
}
.icon{
    margin: auto;
    width: 80%;
    display: flex;
    color: white;
    padding: 40px 0;
}
i{
    text-align: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: block;
    height: 20px;
    width: 20px;
    background-color: #254172;
}
.bot-li{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.bot-li a{
    color: white;
    width: 100%;
    margin: 20px;
    text-decoration: none;
}
.copyright{
    text-align: center;
    color: #748094;
    font-size: 10px;
    line-height: 1.5;
    padding: 20px 0;
}
.list_group{
    display: none;
}
.covid{
    display: none;
}
.bottom{
    display: none;
}
@media screen and (min-width:768px){
    .main-nav .li a{
        display: block;
        text-decoration: none;
        color: lightgreen;
        padding: 45px 30px;
        border-bottom: 1px solid lightgreen;
    }
    .main-nav .btn{
        text-align: center;
        font-size: 30px;
        padding: 59px 0;
        margin: 40px 0;
    }
    .freetry_btn{
        
        margin: auto;
        margin-top: 60px;
    }
    .list{
        display: flex;
        flex-wrap: wrap;
    }
    .list div{
        width: 50%;
    }
    .home-features .features-list{
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
    }
    .home-features .features-list li{
        padding: 20px 10px;
        width: 33.333%;
    }
    .footer-map{
        background-color: #172b4d;
    }
    .footer-content h4{
        width: 50%;
    }
    .days-btn{
        width: 50%;
    }
    .list_group{
        display: none;
    }
    .covid{
        display: none;
    }
    .bottom{
        display: none;
    }
}
@media screen and (min-width:990px){
    .hb{
        display: none;
    }
    .help_center{
        width: 100%;
        top: 0px;
        position: fixed;
        background-color: #172b4d;
        text-align: right;
        z-index: 20;
    }
    .help_center i{
        background-color: transparent;
    }
    .help_center a{
        padding: 20px;
        color: white;
        text-decoration: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        top: 20px;
    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .main-nav{
        position: relative;
        display: flex;
        width: auto;
        height: auto;
        top: 0;
        left: 0;
        
        background-color: transparent;
    }
    .main-nav .li a{
        padding: 10px;
        border-bottom:none ;
        flex-direction: column;
        display: inline-block;
        color: black;
        text-align: center;
        margin: auto;
        box-sizing: border-box;

    }
    .li{
        padding: 0 20px;
        display: flex;
    }
    .main-nav .btn{
        padding: 0;
        margin-left: 100px;
        width: 100px;

    }
    .main-nav .btn .freetry{
        margin: auto;
        line-height: 2;
        width: 90%;
        height: 30px;
        border-radius: 50px;
        font-size: 16px;
        

        /* width: 50%; */
    }
    .main-nav .btn .login{
        display: none;
    }
    .li-bot{
        display: none;
    }
    .homegroup{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .homegroup .txt{
        align-items: center;
    }
    .homegroup .txt h1{
        text-align: left;
        padding-top: 150px;
    }
    .homegroup .txt h2{
        line-height: 2;
        padding: 20px 0;
    }
    .email{
        width: 300px;
        height: 40px;
        
    }
    .btn-group{
        display: flex;
        margin: 40px 0;
    }
    .freetry_btn{
        width: 100px;
        height: 40px;
        margin: auto;
    }
    .center_article{
        margin: auto;
        margin-top: 10px;
        margin-bottom: 50px;
        width: 60%;
    }
    .head{
        display: flex;
        flex-direction: row-reverse;
    }
    .head img{
        width: 50%;
    }
    
    .head2{
        display: flex;
        flex-direction: row;
    }
    .center_topic{
        margin: 50px;
        
    }
    .home-showcase{
        padding: 50px 0;
    }
    .home-showcase h4{
        margin: 80px 0;
    }
    .home-showcase .show-group{
        display: flex;
        flex-direction: row-reverse;
    }
    .home-showcase .show-group .show-pic{
        width: 100%;
    }
    .home-showcase .show-group .show-pic img{
        width: 100%;
        height: 100%;
    }
    .home-showcase .show-group .show-item{
        width: 70%;
    }
    .home-showcase .show-group .show-item p{
        padding: 20px 15px;
    }
    .home-showcase .show-group .show-item p1{
        margin-bottom: 0;
        margin-top: 40px;
    }
    .footer-map{
        display: flex;
    }
    .footer-map .footer-map-img{
        width: 45%;
        
    }
    .footer-map .footer-map-img img{
        margin-bottom: 0;
    }
    .footer-map .footer-content{
        width: 55%;
    }
    .footer-map .footer-content h4{
        width: 100%;
        line-height: 2;
    }
    .bot{
        display: none;
    }
    .bot_list{
        padding: 40PX 0;
        text-align: center;
        background-color: #00142d;
    }
    .list_group{
        display: flex;
    }
    .nav-item{
        width: 15%;
    }
    .nav-item a{
        font-size: 10px;
        color: gray;
        text-decoration: none;
    }
    .nav-item h4{
        margin: 5px;
        padding: 10px;
        font-size: 20px;
        color: azure
    }
    .nav-item li{
        list-style-type: none;
        padding: 20px
    }
    .nav-item a:hover{
        background-color: aliceblue;
        color: #010c2b;
    }
    .covid{
        display: block;
        text-align: right;
    }
    .covid-19-wrap a{
        display: inline-block;
        width: 225px;
        text-align: center;
        background-color: #dbf8ed;
        padding: 10px 0;
        margin-right: 30px;
        color: black;
        text-decoration: none;
    }
    .bot_list::before{
        content: '';
        width: 95%;
        height: 1px;
        background-color: #172B4D;
        display: block;
        margin: auto;
        margin: 20px 0;
    }
    .bottom::before{
        content: '';
        width: 95%;
        height: 1px;
        background-color: #172B4D;
        display: block;
        margin: auto;
        margin: 80px 0 0 0;
    }
    .bottom{
        display: block;
        background-color: #00142d;
    }
    .footer_link{
        display: flex;
        width: 100%;
        padding: 40px 0;
    }
    .nav-links{
        display: flex;
        width: 33.33%;
        
    }
    .nav-links a{
        color: aliceblue;
        padding: 0 30px;
        margin: auto;
        font-size: 14px;
        text-decoration: none;
    }
    .nav-links .map{
        border-right: 1px solid #748094;
    }
    .nav-links .policy{
        border-right: 1px solid #748094;
    }
    .icon{
        padding: 0 35px;
        margin: 0;
        font-size: 20px;
        width: 33.33%;
    }
    .footer_link p{
        font-size: 14px;
        width: 33.33%;
        text-align: center;
        color: aliceblue;
    }
}
@media screen and (min-width:1200px){
    .main-nav{
        width: 100%;
    }
    .btn{
        width: 100%;
        position: absolute;
        right: 0;
        top: -37px;
    }
    .help_center{
        width: 100%;
        top: 0px;
        position: fixed;
        background-color: #172b4d;
        text-align: right;
        z-index: 20;
    }
    .help_center i{
        background-color: transparent;
    }
    .help_center a{
        padding: 20px;
        color: white;
        text-decoration: none;
    }
    .header{
        display: flex;
        justify-content: space-between;
        top: 20px;
        
    }
    .homegroup{
        padding: 20px 0;

    }
    .homegroup .pic{
        width: 50%
        
    }
    .homegroup .pic img{
        width: 90%;
    }
    .txt{
        width: 50%;
        margin-bottom: 0;
        margin-left: 40px;
    }
    .email{
        width: 60%;
    }
    .freetry_btn{
        margin: 0 30px;
    }
}
@media screen and (max-width:990px){
    .help_center{
        display: none;
    }
        
}

