*{
    margin: 0;
    padding: 0;
}
.information{
    width: 960px;
    display: grid;
    grid-template-columns: repeat(30,40px);
    grid-template-rows: repeat(26,40px);
    margin: auto;

}
.topic_left .transparent_box{
    background-color: #eeeeee;
    z-index: -1;
    grid-area: 2 / 15 / 9 / 26;
}
.topic_left .txt{
    width: 350px;
    position: absolute;
    z-index: 5;
    grid-area: 2 / 2 ;
}
.title{
    color: #fff;
    background-color: red;
    font-size: 40px;
}
.title div{
    display:inline ;
    writing-mode: vertical-lr;
    vertical-align: middle;
    font-size:120px;
    font-weight: 400;
}
.title h1{
    display: inline;
    font-size: 45px;
}
.detailed_report{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    font-size: 20px;
    line-height: 2;
}
.detailed_report h2{
    font-size: 25px;
    font-weight: bold;
}
.topic_left .pic{
    grid-area: 4/7;
}
.topic_left .yt{
    grid-area: 10/24;
}
.topic_left .innovation{
    flex-direction: column;
    background-color: #ddd;
    align-items: flex-start;
    line-height: 1;
    padding: 0 20px;
    font-size: 16px;
    position: relative;
    grid-area: 14/3/23/21;
}
.innovation_title{
    padding: 20px 0;
    width: 100%;
}
.innovation h2{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.innovation h3{
    width: 140px;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
}
.innovation p{
    margin: 10px 0;
    line-height: 1.5;
}

.topic_right .transparent_box{
    background-color: #eeeeee;
    z-index: -1;
    grid-area: 3/8/14/21 ;

}
.topic_right .txt{
    display: grid;
    z-index: 5;
    grid-area: 2/15/10/24;
}
.topic_right .title{
    color: #fff;
    background-color: red;
    text-align: right;
    
}
.topic_right .pic{
    grid-area: 5/2/15/18;
}
.topic_right .yt{
    z-index: 2;
    grid-area: 10/1;
}
.topic_right .innovation{
    display: flex;
    flex-direction: column;
    
    background-color: #ddd;
    align-items: flex-start;
    padding: 0 20px;
    font-size: 16px;
    grid-area: 15/7/21/24;
}
.topic_right .innovation h3{
    width: 150px;
}
.topic_left .innovation5{
    flex-direction: column;
    background-color: #ddd;
    align-items: flex-start;
    line-height: 1;
    padding: 0 20px;
    font-size: 16px;
    position: relative;
    grid-area: 14/3/20/21;
}
.innovation5 h2{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.innovation5 h3{
    width: 140px;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
}
.innovation5 p{
    margin: 10px 0;
    line-height: 1.5;
}
.topic_right .innovation4{
    display: flex;
    flex-direction: column;
    
    background-color: #ddd;
    align-items: flex-start;
    padding: 0 20px;
    font-size: 16px;
    grid-area: 15/7/22/24;
}
.innovation4 h2{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.innovation4 h3{
    width: 150px;
    background-color: black;
    color: #fff;
    padding: 5px 15px;
}
.innovation4 p{
    margin: 10px 0;
    line-height: 1.5;
}



.footer{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}




