* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.banner {
    display: flex;
    /* border: 1px solid red; */
    margin: 150px 10%;
    justify-content: center;
    flex-wrap: wrap;
}

.hostDetail {
    border: 1px solid #bbb;
    border-radius: 50px;
    width: 30%;
    height: 50%;
    padding-bottom: 20px;
}

.hostDetail img {
    border-radius: 50%;
    display: flex;
    margin: auto;
    padding: 40px 0;
}

.showprofile h2 {
    margin: 25px 20px;
}

.showprofile h3 {
    margin: 20px 0px;
}

.showprofile i {
    margin: 0 20px;
}

.showprofile p {
    padding: 8px 0;
    font-size: 15px;
}

hr {
    margin: 20px;
}

.hostInfo {
    width: 70%;
    padding: 0 60px;
    height: 100vh;
}

.aboutme .fa-angle-left {
    font-size: 30px;
    padding-right: 10px;
    color: black;
}

.aboutme h1 {
    display: inline-block;
}

.aboutme h3 {
    padding: 30px 0 10px;
}

.aboutme p:nth-child(4) {
    padding: 0px 0px 30px;
}

.aboutme .fa-house {
    padding: 0 10px 0 0;
}

.abouthome {
    display: flex;
}

.aboutme-rwd {
    display: none;
}

.homecard {
    width: 32%;
    margin: 20px 5px;
}

.homecard img {
    border-radius: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

.homecard i {
    padding: 10px 0px;
    font-size: 10px;
    color: #ff5361;
}

.homecard h4 {
    font-size: 16px;
    padding-bottom: 5px;
}

.homecard p {
    color: rgb(111, 107, 107);
    font-size: 15px;
}
.container{
    margin-top: 50px;
}

.swiper {
    width: 100%;

}

.card .image {
    display: flex;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ff5361;
}

.card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.card {
    position: relative;
    border-radius: 20px;
    background: #fff;
    margin: 20px 0 50px ;
    border: 1px solid #333;
}


.card .card-content {
    display: flex;
    flex-direction: column;
    position: relative;
}
.list{
    display: flex;
    background-color: #ff5361;
    border-radius: 20px 20px 0 0;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    color: white;
}

.name-profession .name {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 3px;
}
.name-profession p{
    font-size: 10px;
}
.comment{
    font-size: 15px;
    padding: 20px 10px;
    height: 200px;
}
.comment p{
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:9;
    overflow:hidden;
}

.card .rating {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 18px;
}

.card .rating i {
    font-size: 18px;
    color: #ff5361;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: black;
    opacity: 0.2;
}

.swiper .swiper-pagination-bullet {
    height: 7px;
    width: 26px;
}

.swiper .swiper-pagination-bullet-active {
    background: #ff5361;
}


@media screen and (max-width:992px) {
    .banner {
        padding: 80px 0px;
    }

    .hostDetail {
        width: 100%;
    }

    .hostDetail img {
        width: 150px;
        height: 150px;
        padding: 5px 0;
    }

    .showprofile {
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
        /* margin-top: -10px; */
    }

    .showprofile hr {
        display: none;
    }

    .showprofile h3 {
        width: 100%;
        margin: 5px 0;
    }

    .showprofile h2 {
        font-size: 10px;
        width: 100%;
        margin: 10px 20px;
    }

    .showprofile p {
        font-size: 5px;
    }

    .aboutme-rwd {
        display: block;
        font-size: 10px;
        padding: 10px 20px 0px 20px;
    }

    .aboutme-rwd p {
        padding: 10px 0px;
    }

    .aboutme-rwd i {
        padding-right: 20px;
    }

    .hostInfo {
        padding: 0;
        width: 100%;
        position: relative;
    }

    .hostInfo .aboutme {
        display: none;
    }

    .hostInfo h2 {
        text-align: center;
        padding: 20px 0 5px 0;
    }

    .abouthome {
        flex-wrap: wrap;
    }

    .hostInfo .abouthome .homecard {
        width: 100%;
    }

    hr {
        display: none;
    }

    .all {
        display: none;
    }

    .footer {
        display: none;
    }
    .card .image{
        width: 100px;
        height: 100px;
    }
    .card .name-profession{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .card .name-profession .name{
        font-size: 25px;
    }
    .card .name-profession p{
        font-size: 15px;
    }
    .card .comment{
        font-size: 18px;
    }

}